.preguntas{
    h3{
        text-align: center;
    }

    .containerPregunta{
        background-color: $colorSecundario;
        border: 2px solid $colorBorde;
        border-radius: 20px;
        margin: 0 10px 20px 10px;
        padding: 5px 10px 5px 10px;
    }
}