.preguntas{
    h3{
        text-align: center;
    }

    .containerPregunta{
        background-color: #977352;
        border: 2px solid #641c14;
        border-radius: 20px;
        margin: 0 10px 20px 10px;
        padding: 5px 10px 5px 10px;
    }
}