.formulario{

    input{
        border-radius: 5px;
    }

    button{
        margin: 10px 0 10px 0;
        border-radius: 20px;
        background-color: $colorSecundario;
        border: 1px solid $colorBorde;

            &:hover{
                background-color: $colorSecundario;
                border-color: $colorBorde;
            }
        }
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: $colorBorde;
    border-color: $colorBorde;
}


