.formulario{
    height: 82vh;

    input{
        height: 30px; 
        width: 40%;
        border-radius: 5px;
    }

    button{
        height: 40px;
        width: 70px;
        border-radius: 20px;
    }
}




